<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <h1>Vue Basics</h1>
    <div id="app">
        <h2> {{ title }}</h2>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <ul>
            <li v-for='ninja in ninjas'>Name: {{ninja.name}}</li>
        </ul>
        <ul>
            <li v-for='ninja in ninjas'>Age: {{ninja.age}}</li>
        </ul>
        <ul>
            <li v-for='ninja in ninjas'>Belt: {{ninja.belt}}</li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>
</html>